// Header stillar
.header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 22px 0px;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__hamburger {
      display: none;
      background-color: transparent;
      font-size:35px;
      width: 20px;
      height: 16px;
      border: none;
      color: #fff;
    }
  }

  .logo {
    text-decoration: none;
    flex-shrink: 0;
    border: 2px solid #fff;
    &__img {
      display: block;
      border-radius: 50%;
    }

  }

.logo:hover{
   border: 2px solid  rgb(0, 0, 250);
   box-shadow: #fff 0px 48px 100px 0px;
   transition: 0.8s;
}
  .sitenav {
    display: flex;
    align-items: center;
    white-space: nowrap;

    &__list {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item{
       margin-left: 20px;
    }

    &__link {
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
        text-decoration: none;
    }

    &__link:hover{
        color:#ccc;
    }

    &__link:active{
      color:#000;
    }
  }


  @media only screen and (max-width: 734px){
    .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 18px 0;
      transition: 0.8s;

      &__container{
        display: flex;
        align-items: center;
      }

      &__logo{
        vertical-align: middle;
      }

      &__hamburger {
        margin-bottom: 26px;
        vertical-align: middle;
        display: inline-block;
        transition: 0.8s;
      }
    }

    .sitenav {
      padding: 64px 32px;
      padding-right: 140px;
      display: none;
      flex-direction: column;
      transition: 0.8s;
    }

    .sitenav__item{
      margin-top: 20px;
      font-size: 20px;
    }

    .sitenav__link{
        color: #E5ECF4;
        justify-content: center;
    }

    .header--open .sitenav {
      display: flex;
      min-height: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      background-color:#333A44;
      min-height: 86vh;
      transition: 0.8s;
    }

    .header--open .sitenav__list {
      flex-direction: column;
      transition: 0.8s;
    }
  }

  .logo{
    &__img{
      width: 60px;
      height: 60px;
    }
  }